header {
	background-color: purple;
	height: 100px;
}

nav{
	background-color: blue;
}

section{
	background-color: green;
}

header img{
	height: 80%;
	padding: 10 20 0 10;
}

header title{
	display: inline;
}

header h1{
	display: inline;
}

footer{
	border-top: 10;
}

section p img {
	height: 80%;
	float: right;
}